.DeckOfCards #mainDeck {
    height: 770px;
    min-width: 1000px;
    max-width: 1000px;
    padding: 0 40px 40px 40px;
    color: white;
    float: left;
    overflow-y: auto;
}

.DeckOfCards .deck{
    height: 770px;
    min-width: 120px;
    max-width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    text-align: center;
    padding: 0;
    overflow-y: auto;
}